.bottom-wrapper {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 50px;
    bottom: 0;
    left: 0;
    margin-top: 50px;
    width: 100%;
    height: max-content;
    background: var(--bg-colour);
    padding: 15px 0;
    border-top: 1px solid var(--primary-colour);
}

.bottom-section {
    display: flex;
    flex-direction: column;
}

.bottom-section > h3 {
    font-size: 16px;
    font-weight: 800;
    text-transform: uppercase;
    padding-bottom: 5px;
    margin: 0;
}

.bottom-section > ul {
    margin: 0;
    padding-left: 15px;
}

.bottom-section > ul > li {
    list-style-type: circle;
    margin: 5px 0;
}


.section-item {
    align-content: center;
    justify-content: center;
    width: 150px;
}

.section-item:hover {
    cursor: pointer;
}

.section-item > h4 {
    font-size: 14px;
    margin: 0;
}

.section-item > p {
    font-size: 10px;
    color: var(--secondary-colour);
    margin: 0;
}