.centre {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    width: max-content;
    height: max-content;


    margin: auto;
}

@keyframes rise {
    0% {
        translate: 0 80px
    }
    100% {
        translate: 0 0
    }
}