.top-compare-wrapper {
    display: flex;
    flex-direction: row;
    animation: fadeIn 0.5s ease-out;
}

.card-container {
    margin: 20px;
    justify-content: right;
    display: flex;
}

.card {
    width: 100px;
    height: 400px;
    justify-content: center;
    text-align: center;
    transition: all 0.5s;
    clip-path: inset(5px);
    opacity: 1;
    background: black;
    z-index: 2;
}

.card-text-container{
    font-family: 'Inter Tight', sans-serif;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    text-align: center;
    font-size: 6em;
    z-index: 2;
    color: #ffffff;
    width: max-content;
}

.card-text-container > h1 {
    opacity: 0.75;
    margin-bottom: auto;
}

.card-text-container > p {
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 800;
    word-break: break-word;
    width: 100%;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.26);
    animation: fade 0.5s ease-in-out;
}
@keyframes fade {
    from{opacity: 0}
    to{opacity: 1}
}

.card-header-l{
    margin-right: auto;
}

.card-header-l > h1{
    font-family: 'Inter Tight', sans-serif;
    position: absolute;
    max-width: 200px;
    font-size: 7em;
    text-transform: uppercase;
    margin-top: 100px;
}

.card-container > div > img {
    height: 400px;
    width: 100%;
    object-fit: cover;
    filter: blur(10px) brightness(100%);
    transition: all 0.5s;
}
.card:hover{
    width: 250px;
    cursor: pointer;
}

.card:hover > img {
    transform: scale(90%);
}

.card:hover .card-text-container .card-num{
    width: 250px;
    overflow: visible;
    opacity: 1;
}

.card-num{
    width: 100px;
    overflow: hidden;
    transition: all 0.5s;
}

.similarity-score{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    height: 200px;
    padding: 50px;
}

.similarity-score h2 {
    margin: 0;
}

.similarity-score p {
    font-family: 'Inter Tight', sans-serif;
}

.left{
    width: 50%;
}
.right{
    width: 50%;
}