@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300;500&family=Ubuntu:wght@500;700&display=swap");

.graph-container{
    display: flex;
    flex-direction: column;
    padding: 40px;
    margin-bottom: 50px;
}

.top{
    display: flex;
    flex-direction: row;
    height: 300px;
}

.graph-title{
    font-family: 'Inter Tight', sans-serif;
    font-weight: 500;
    font-size: 1em;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
}

.y-title{
    height: min-content;
    text-align: center;
    text-transform: uppercase;
    word-break: break-word;
    width: min-content;
}

.point-container{
    display: flex;
    float: right;
    width: 98%;
    height: 100%;
    background-size: 40px 40px;
    background-image: radial-gradient(circle, #22c55e94 1px, rgba(0, 0, 0, 0) 1px);
}

.point{
    --diameter: 5px;
    width: var(--diameter);
    height: var(--diameter);
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    margin: calc(-1*var(--diameter));
    position: relative;
    align-self: flex-end;
}
.point:hover{
    transform: scale(150%);
}

.x-title{
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}

.graph-dropdown{
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 800;
    font-size: 1em;
    text-align: center;
    margin-right: 40px;
    color: #22C55E;
}
