/*noinspection CssUnknownTarget*/
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@900&family=Raleway:wght@600;700;900&display=swap');


.main-text{
  text-transform: uppercase;
  font-family: 'Inter Tight', sans-serif;
  font-weight: 900;
  font-size: 5ex;
  padding-left: 20px;
}

.showcase-text{
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 5ex;
}

.top-container{
  margin-top: 200px;
  padding-left: 50px;
}

.down-arrow-container{
  display: flex;
  margin: 20vh auto auto -50px;
}

.down-arrow{
  transform: scale(15%) rotate(90deg);
  margin: auto;
  border: 10px solid white;
  padding: 50px;
  border-radius: 100%;
}

.container{
  margin: 50px;
}

.auth-button{
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 20px;
  border: 2px solid white;
  color: white;
  width: max-content;
  padding: 5px 30px 5px 30px;
  margin-left: 20px;
  transition: all 0.2s ease-out;
}

.auth-button:hover{
  background-color: rgb(255, 255, 255);
  color: black;
  box-shadow: 0 0 100px rgba(255, 255, 255, 0.81);
}

.under-text{
  font-size: 16px;
  padding-left: 20px;
  margin-top: -30px;
}

.error-message{
  margin-left: 20px;
  color: red;
}

.homepage-container{
  display: flex;
  flex-direction: column;
}
