@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@900&family=Raleway:wght@600;700;900&display=swap');

@keyframes invertBtW {
  from {background-color: black; color: white;}
  to {background-color: white; color: black;}
}

@keyframes invertWtB {
  from {background-color: white; color: black;}
  to {background-color: black; color: white;}
}

.main-text{
  text-transform: uppercase;
  font-family: 'Inter Tight', sans-serif;
  font-weight: 900;
  font-size: 5ex;
  padding-left: 20px;
}

.top-container{
  margin-top: 200px;
  margin-left: 50px;
  margin-bottom: 100px;
}

.container{
  margin: 50px;
}

.auth-button{
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 20px;
  border: 2px solid white;
  color: white;
  width: max-content;
  padding: 5px 30px 5px 30px;
  margin-left: 20px;
  animation: invertWtB 0.2s ease-out;
}

.auth-button:hover{
  animation: invertBtW 0.2s ease-out;
  background-color: white;
  color: black;
}

.under-text{
  font-size: 16px;
  padding-left: 20px;
  margin-top: -30px;
}

.error-message{
  margin-left: 20px;
  color: red;
}

.homepage-container{
  display: flex;
  flex-direction: column;
}
