.homepage-container {
    display: flex;
    flex-direction: column;

}

.homepage-header {
    text-align: center;
}

.homepage-item {
    display: flex;
    flex-direction: column;

    height: 300px;
    justify-content: center;

    padding: 25px 50px;

    border: 1px solid var(--transparent-border-colour)

}

.right-aligned {
    align-items: end;
    text-align: right;
}

.emphasised-text {
    color: var(--accent-colour)
}
