

select:hover {
    cursor: pointer;
}

select.dropdown {
    width: max-content;
    text-align: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


.compare-button {
    background: none;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 20px;
    border: 2px solid white;
    color: white;
    width: max-content;
    padding: 5px 30px 5px 30px;
    margin-bottom: 10px;
    transition: all 0.2s ease-out;
}

.compare-button:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    box-shadow: 0 0 45px rgba(255, 255, 255, 0.81);
}

.simple-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.simple-instance {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    height: max-content;
    width: 850px;
    max-width: 1000px;
    min-width: 0;
    flex-grow: 1;
    padding: 25px 25px 0 25px;
}

.showcase-list-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}

.showcase-list-wrapper > div {
    transition: all 0.5s;
    width: 100%;
    margin: 0 auto;
}

.showcase-list-item {
    display: flex;
    flex-direction: row;
    height: 75px;
    position: relative;
    align-items: center;
    align-content: center;
    background: rgba(125, 125, 125, 0.1);
    border: 1px solid rgba(125, 125, 125, 0.5);
    will-change: height;
    cursor: pointer;
    transition: all 0.5s;
}

.showcase-list-item > h3 {
    position: absolute;
    font-size: 20px;
    height: max-content;
    top: 0;
    bottom: 0;
    margin: auto;
    padding-left: 15px;
}


.showcase-list-item-text {
    align-items: center;
    height: max-content;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.5s;
}

.showcase-list-item-text > h2 {
    text-align: center;
    width: 100%;
    margin: 0;
    transition: inherit;
}

.showcase-list-item-text > p {
    text-transform: uppercase;
    text-align: center;
    height: max-content;
    margin: 0;
    transition: inherit;
}

.showcase-list-item-expanded {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin: auto;
    cursor: auto;
}

.listed-user {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    background: rgba(0,0,0,0);
}

.listed-user:hover {
    background: rgba(125, 125, 125, 0.2);
}

.listed-user > img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.item-top-element {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 300px;
    align-items: center;
    flex-shrink: 0;
}

.item-top-element > div {
    margin: 0 25px;
}

.analysis-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 358px;
    width: 100%;
    align-items: center;
}

.analysis-wrapper > div {
    height: 300px;
    width: 0;
    margin: 0 25px;
    flex-grow: 1;
}

.list-widget-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 5px;
}

.widget-item {
    position: relative;
    flex-grow: 1;
    width: 100%;
    max-width: 100%;
    text-align: center;
    background: rgba(125, 125, 125, 0.05);
    border: 1px solid rgba(125, 125, 125, 0.2);
    font-size: 14px;
    opacity: 0;
    animation: fadeIn 0.5s ease forwards;
}

.widget-button {
    display: flex;
    flex-direction: column;
    font-family: "Inter Tight", sans-serif;
    text-decoration: none;
    height: 100%;
    width: 100%;
    color: var(--primary-colour);
    background: none;
    border: none;
    align-content: center;
    justify-content: center;
    text-align: center;
    padding: 0;
}

.widget-button:hover {
    background: rgba(125, 125, 125, 0.1);
}
@media (hover: none) {
    .widget-button:hover {}
}


.item-image {
    flex-shrink: 0;
    aspect-ratio: 1;
    max-width: 250px;
    width: 35%;
    position: relative;
}

.item-description {
    flex-grow: 1;
}


.showcase-exit-button {
    color: var(--primary-colour);
    position: absolute;
    font-size: 20px;
    top: 5px;
    right: 10px;
    background: none;
    padding: 5px;
    border: none;
    cursor: pointer;
    z-index: 1;
}

.levitating-image {
    box-shadow: 0 4px 16px rgba(17, 17, 26, 0.1), 0 8px 24px rgba(17, 17, 26, 0.1), 0 16px 56px rgba(17, 17, 26, 0.1);
}

.backdrop-image {
    position: absolute;
    filter: blur(100px) brightness(150%);
    z-index: -1;
}


.block-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.block-wrapper > div {
    flex-grow: 1;
    background: var(--transparent-colour);
    border: 1px solid rgba(125,125,125,0.5);
    padding: 15px;
}

#genre-breakdown-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#genre-breakdown {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

#genre-select {
    font-family: "Inter Tight", sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-left: -4px;
    margin-bottom: 10px;
    width: max-content;
    color: var(--primary-colour);
    background: var(--transparent-colour);
    border: 1px solid var(--transparent-border-colour);
}

.stat-block {
    display: flex;
    flex-direction: column;
    justify-content: right;
    text-align: left;
}


.stat-block > h3 {
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 5px;
    color: var(--primary-colour);
}

.stat-block > p {
    font-size: 10px;
    margin: 5px 0 0 0;
    color: var(--secondary-colour);
}

/*noinspection ALL*/
.stat-bar {
    position: relative;
    height: 5px;
    width: var(--val);
    background: var(--primary-colour);
    border-radius: 10px;
    transition: width 0.5s ease-out;

    animation: expand 1s ease;
}



@keyframes expand {
    from {
        width: 0
    }
}

.list-item {
    font-size: 27px;
    text-align: center;
    margin: auto;
    font-weight: 900;
    counter-increment: item;
    width: max-content;
    padding: 10px 0 2px 0;
}

.list-item-ol {
    min-width: 400px;
    margin: auto auto auto auto;
    list-style: none;
    counter-reset: item;
    height: max-content;
    padding: 0;
}

.list-item:hover {
    cursor: pointer;
    text-decoration: underline;
}

.list-item:before {
    margin-right: 10px;
    content: counter(item);
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 600;
    width: 1.2em;
    text-align: center;
    display: inline-block;
    color: rgb(148, 148, 148);
}

.section-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: max-content;
    margin: 0 auto;


    border-top: 1px solid var(--secondary-colour);
}

.section-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    height: max-content;
    margin: 15px auto;
    padding: 0 0 16px 0;


    border-bottom: 1px solid var(--secondary-colour);
    border-top: 1px solid var(--secondary-colour);
}


@keyframes hover {
    from {
        font-size: 16px;
    }
    to {
        font-size: 16px;
        font-weight: bold;
    }
}


.user-container {
    position: relative;
    height: max-content;
    width: 100%;
    max-height: 150px;
    margin-top: 25px;
}

.profile-picture {
    position: relative;
    max-height: 150px;
    aspect-ratio: 1;
}

.user-details {
    word-break: keep-all;
}

.user-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    text-align: right;
    margin-left: auto;
}

.terms-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 5px;
}


.settings-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
}

.settings-container > div {
    display: flex;
    flex-direction: column;
}

.settings-container > div > h3 {
    margin: 0;
}

.settings-container > div > p {
    margin: 0 0 5px 0;
}

.modal-exit-button {
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px;
    height: 30px;
    width: 30px;
    color: var(--primary-colour);
    cursor: pointer;
    background: none;
    border: none;
}


#rec-type-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 15px;
    justify-content: left;
    margin: 15px 0;
}

.rec-type-button {
    padding: 5px 15px;
    border: 1px solid var(--secondary-colour);
    text-transform: capitalize;
    transition: all 0.25s ease;
}

#rec-search-results {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    gap: 15px;
}

.rec-search-result {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    width: 100%;
    gap: 15px;
    background: none;
    color: var(--primary-colour);
    cursor: pointer;
    border: none;
}

.rec-search-result > img {
    aspect-ratio: 1;
    height: 50px;
    width: 50px;
    object-fit: cover;
}

.rec-search-result > p {
    color: var(--secondary-colour);
}

.rec-details-img {
    width: 300px;
    height: 300px;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.rec-details-img > img {
    width: 100%;
    object-fit: cover;
}

.processing-indicator-wrapper {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.75);
}


@media screen and (max-width: 650px) {

    .supplemental-content {
        display: none;
    }

    .simple-instance {
        padding: 15px 0;
    }

    .showcase-list-item-text > h2 {
        font-size: 18px;
    }

    .showcase-list-item-text > p {
        font-size: 12px;
    }

    .recommendations {
        display: none;
        opacity: 0;
    }

    .list-widget-wrapper {
        padding: 20px 0;
    }

    #showcase-rec-button {
        display: none;
    }


    #genre-breakdown {
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }
}

.term-buttons {
    text-transform: uppercase;
    cursor: pointer;
    color: var(--primary-colour);
    border: none;
    background: none;
}

.comment-submit-field {
    width: 100%;
    padding-bottom: 16px;
    border-bottom: 1px solid var(--secondary-colour);
}

.comments-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    margin-top: 16px;
}

.comment {
    display: flex;
    flex-direction: column;
    padding: 15px;
    word-break: break-word;
    overflow: hidden;
    background: var(--transparent-colour);
    border: 1px solid var(--transparent-border-colour);
    animation: fadeIn 0.1s ease-in-out;
}

.comment > a {
    color: var(--primary-colour);
    text-decoration: none;
    font-weight: bold;
}

.comment > p {
    margin: 0;
}


/* LOADING ANIM */
.lds-grid {
    position: relative;
    margin: auto;
    top: 50%;
    width: 80px;
    height: 80px;
}

.lds-grid div {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: var(--primary-colour);
    animation: lds-grid 2.25s ease-in infinite;
}

.lds-grid div:nth-child(1) {
    top: 10px;
    left: 10px;
    width: 12px;
    height: 12px;
    animation-delay: -4s;
}

.lds-grid div:nth-child(2) {
    top: 9px;
    left: 33px;
    width: 14px;
    height: 14px;
    animation-delay: -2s;
}

.lds-grid div:nth-child(3) {
    top: 10px;
    left: 58px;
    width: 12px;
    height: 12px;
    animation-delay: -4s;
}

.lds-grid div:nth-child(4) {
    top: 33px;
    left: 9px;
    width: 14px;
    height: 14px;
    animation-delay: -2s;
}

.lds-grid div:nth-child(5) {
    top: 32px;
    left: 32px;
    animation-delay: 0s;
}

.lds-grid div:nth-child(6) {
    top: 34px;
    left: 57px;
    width: 14px;
    height: 14px;
    animation-delay: -2s;
}

.lds-grid div:nth-child(7) {
    top: 58px;
    left: 10px;
    width: 12px;
    height: 12px;
    animation-delay: -4s;
}

.lds-grid div:nth-child(8) {
    top: 57px;
    left: 33px;
    width: 14px;
    height: 14px;
    animation-delay: -2s;
}

.lds-grid div:nth-child(9) {
    top: 58px;
    left: 58px;
    width: 12px;
    height: 12px;
    animation-delay: -4s;
}

@keyframes lds-grid {
    0%, 100% {
        opacity: 0.33;
    }
    50% {
        opacity: 1;
    }
}

@keyframes equals-animation {
    from {
        transform: translate(-20px, 0);
        opacity: 0
    }
    to {
        transform: translate(0, 0);
        opacity: 1
    }
}

@keyframes up-change-animation {
    from {
        transform: translate(0, 10px);
        opacity: 0
    }
    to {
        transform: translate(0, 0);
        opacity: 1
    }
}

@keyframes down-change-animation {
    from {
        transform: translate(0, -10px);
        opacity: 0
    }
    to {
        transform: translate(0, 0);
        opacity: 1
    }
}
