@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300&family=Lato:wght@900&family=Ubuntu:wght@500;700&display=swap');

.wrapper {
    display: flex;
    flex-direction: column;
    animation: fadeIn 0.5s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@media screen and (max-width: 1200px) {
    .datapoint-title {
        font-size: 20vw;
    }
}

.compare-button{
    background: none;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 20px;
    border: 2px solid white;
    color: white;
    width: max-content;
    padding: 5px 30px 5px 30px;
    margin-bottom: 10px;
    transition: all 0.2s ease-out;
}

.compare-button:hover{
    background-color: rgb(255, 255, 255);
    color: black;
    box-shadow: 0 0 45px rgba(255, 255, 255, 0.81);
}

.art-container {
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
    word-break: break-word;
    height: max-content;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 10vw;
}

.play-wrapper {
    display: flex;
    text-decoration: none;
    opacity: 1;
    width: auto;
    height: 400px;
    animation: fadeIn 0.35s ease-in;
    border-radius: 10%;
    box-shadow: 0 0 100px rgba(255, 255, 255, 0.178);
    transition: all 0.05s ease-out;
}

.play-wrapper-hidden {
    display: flex;
    text-decoration: none;
    width: auto;
    height: 400px;
    opacity: 0;
    animation: fadeOut 0.35s ease-in;
}

.play-wrapper-empty {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
    font-family: 'Inter Tight', sans-serif;
    font-size: 40px;
    font-weight: 700;
    opacity: 1;
    width: 400px;
    height: 400px;
    border: 3px dotted white;
    border-radius: 10%;
    box-shadow: 0 0 100px rgba(255, 255, 255, 0.178);
}

.play-wrapper:hover {
    display: flex;
    opacity: 1;
    width: 100%;
    height: 100%;
    transform: scale(105%);
}

.art {
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
    width: 400px;
    height: 400px;
    object-fit: cover;
    box-shadow: 0 0 6px 5px rgba(0, 0, 0, 0.445), 0 2px 4px -2px rgb(0, 0, 0);
    animation: fadeIn 2s ease-in-out;
    text-align: center;
    color: black;
    font-size: 100px;
}

@keyframes swoopUpR {
    from {
        opacity: 0;
        transform: translate(0, 20px)
    }
    to {
        opacity: 1;
    }
}

@keyframes swoopUpH {
    from {
        opacity: 1;
        transform: translate(0px)
    }
    to {
        opacity: 0;
        transform: translate(0, -20px)
    }
}

.art-text-container {
    align-self: flex-end;
    margin-left: -400px;
    height: max-content;
    width: 400px;
    padding-top: 27px;
    padding-bottom: 20px;
    border-radius: 0 0 35px 35px;
    text-align: center;
    backdrop-filter: blur(20px);
    transition: all 0.4s ease-out;
}

.art-text-container:hover {
   opacity: 0;
}

.art-name-shown {
    margin-top: -6px;
    margin-bottom: 0;
    font-family: 'Inter Tight', sans-serif;
    font-size: 30px;
    font-weight: 900;
    color: white;
    text-transform: uppercase;
    position: relative;
    height: max-content;
    opacity: 1;
    animation: swoopUpR 0.5s ease-out;
    z-index: 1;
}

.art-name-hidden {
    margin-top: -6px;
    margin-bottom: 0;
    font-family: 'Inter Tight', sans-serif;
    font-size: 30px;
    font-weight: 900;
    color: white;
    text-transform: uppercase;
    position: relative;
    height: max-content;
    opacity: 0;
    animation: swoopUpH 0.25s ease-out;
    z-index: 1;

}

.art-desc-shown {
    margin: 0;
    padding: 0;
    font-family: 'Inter Tight', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: white;
    text-transform: uppercase;
    position: relative;
    height: max-content;
    animation: swoopUpR 0.8s ease-out;
    z-index: 1;

}

.art-desc-hidden {
    margin: 0;
    padding: 0;
    font-family: 'Inter Tight', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: white;
    text-transform: uppercase;
    position: relative;
    height: max-content;
    opacity: 0;
    animation: swoopUpH 0.25s ease-out;
}

.focus-message-shown {
    padding: 20px;
    min-width: 400px;
    max-width: 800px;
    height: max-content;
    margin: auto 0;

    font-size: 40px;
    font-weight: 600;
    font-family: 'Inter Tight', sans-serif;
    white-space: pre-line;

    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: left;

    color: #22C55E;
    animation: fadeIn 0.8s ease-out;
}

.focus-message-hidden {
    padding: 20px;
    min-width: 400px;
    max-width: 800px;
    height: max-content;
    margin: auto 0;

    font-size: 40px;
    font-weight: 800;
    font-family: 'Inter Tight', sans-serif;
    white-space: pre-line;

    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: left;

    color: #22C55E;
    animation: fadeOut 0.5s ease-in;
}

.simple-container {
    display: flex;
    flex-direction: row;
    height: max-content;
}

.simple-container ol {
    list-style: none;
    counter-reset: item;
    justify-content: space-evenly;
    margin: 20px 0 auto;
    height: max-content;
}

.arrow {
    margin: auto;
    transform: scale(20%);
    border: 10px solid red;
    padding: 10px;
}

.list-item {
    font-size: 30px;
    padding: 5px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    counter-increment: item;
    width: max-content;
    transition: all 0.1s ease-out;
}

.list-item:hover {
    cursor: pointer;
    color: #22C55E;
    transform: scale(110%);
    text-shadow: 0 0 75px #22C55E;
}

.list-item:before {
    margin-right: 10px;
    content: counter(item);
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    width: 1.2em;
    text-align: center;
    display: inline-block;
    color: rgb(148, 148, 148);
}

.datapoint-title {
    height: max-content;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 50px;
    font-weight: 800;
}

@keyframes hover {
    from {
        font-size: 16px;
    }
    to {
        font-size: 16px;
        font-weight: bold;
    }
}


.user-container {
    padding: 50px;
    display: flex;
    flex-direction: row;
    max-width: 100%;
    margin-top: 20px;
    height: 110px;
    overflow: hidden;
    top: 0;
}

.term-container {
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: center;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}


.term-container > button {
    height: 30px;
    width: 100px;
    border: 2px solid white;
    border-radius: 20px;
    background-color: black;
    margin-left: -35px;
    margin-right: -35px;
    transition: all 0.2s ease-out;
    color: rgba(255, 255, 255, 0);
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
}

.term-container > button:hover {
    --fill-color: white;
    box-shadow: 0 0 45px var(--fill-color);
    color: rgba(255, 255, 255, 1);
}

.term {
    margin: auto;
    text-align: center;
    color: #22C55E;
    text-transform: uppercase;
}

.user-details {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    height: 110px;
}

.user-details P {
    font-family: 'Ubuntu', sans-serif;
    color: rgb(255, 255, 255);
}

.spotify-link {
    justify-content: space-evenly;
    width: max-content;
    height: min-content;
    align-items: center;
    display: flex;
    flex-direction: row;
    color: white;
    text-decoration: none;
}

.spotify-link p:hover {
    color: #22C55E;
}

.spotify-link p {
    margin-left: 10px;
}

.media-container {
    display: flex;
    padding: 0 50px 0 50px;
    flex-direction: row;
}

.listening-media {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-left: 15px;
    color: rgb(255, 255, 255);
    margin-top: auto;
    margin-bottom: auto;
}

.music-animatic {
    display: flex;
    width: 15px;
    height: 40px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: auto;
}

.music-animatic div {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    animation: playing 1.2s ease-in-out infinite;
}

.music-animatic div:nth-child(3) {
    animation-delay: 0.2s;
}

.music-animatic div:nth-child(2) {
    animation-delay: 0.4s;
}

.media-preview {
    border-radius: 10%;
    margin-right: 15px;
    margin-top: auto;
    margin-bottom: auto;
    height: 50px;
}

@keyframes playing {
    0% {
        height: 10px;
    }
    50% {
        height: 30px;
    }
    100% {
        height: 10px;
    }
}

.profile-picture {
    align-self: center;
    margin-right: 10px;
    border-radius: 10%;
    border: 2px solid rgb(255, 255, 255);
    width: 150px;
    height: 150px;
    object-fit: cover;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .4), 0 2px 4px -2px rgba(0, 0, 0, .4)
}

.username {
    margin-right: 10px;
    margin-top: -20px;
    font-family: 'Inter Tight', sans-serif;
    font-size: 60px;
    font-weight: 900;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    position: relative;
    height: max-content;
}

.playlist-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 90%;
    gap: 5vw;
    padding: 50px;
    height: max-content;
    margin: 0 auto 0 auto;
}
.playlist-art{
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
    max-height: 350px;
    max-width: 350px;
    flex-grow: 1;
    object-fit: cover;
    text-align: center;
    box-shadow: 0 0 100px rgba(255, 255, 255, 0.16);
    border-radius: 10%;

    text-decoration: none;
    color: white;
}
.playlist-text-container{
    position: absolute;
    width: 300px;
    height: min-content;
    font-family: 'Inter Tight', sans-serif;
}

.playlist-text-container > h2{
    margin: 0;
    --font-scale: 50px;
    font-size: var(--font-scale);
}

.playlist-text-container > p{
    margin: 0;
    --font-scale: 20px;
    font-size: var(--font-scale);
    font-weight: 100;
}

.playlist-art > img{
    filter: blur(10px) brightness(90%);
    transform: scale(97.5%);
    border-radius: 10%;
    object-fit: cover;
    transition: all 0.5s ease-out;
}

.playlist-art > img:hover{
    filter: none;
    transform: scale(100%);
    box-shadow: 0 0 45px rgba(255, 255, 255, 0.21);

}


.focus-container {
    display: flex;
    flex-direction: row;
    margin: 50px;
}

@keyframes slide-right-out {
    0% {
        transform: translate(-400px) scale(100%);
        opacity: 1;
    }
    100% {
        transform: translate(0px) scale(75%);
        opacity: 0.3;
    }
}

@keyframes slide-right-in {
    from {
        transform: translate(-400px) scale(75%);
        opacity: 0.3;
    }
    to {
        transform: translate(0px) scale(100%);
        opacity: 1;
    }
}

@keyframes slide-in {
    from {
        transform: scale(0%);
        opacity: 0;
    }
    to {
        transform: scale(75%);
        opacity: 0.3;
    }
}

@keyframes slide-left-out {
    0% {
        transform: translate(400px) scale(100%);
        opacity: 1;
    }
    100% {
        transform: translate(0px) scale(75%);
        opacity: 0.3;
    }
}

@keyframes slide-left-in {
    from {
        transform: translate(400px) scale(75%);
        opacity: 0.3;
    }
    to {
        transform: translate(0px) scale(100%);
        opacity: 1;
    }
}
@media screen and (max-width: 2000px) {
    .focus-container {
        flex-direction: column;
        width: 70%;
    }

    .focus-message-shown {
        text-align: center;
    }

    .focus-message-hidden {
        text-align: center;
    }

    .list-item {
        padding: 10px;
    }

    .art-container {
        padding-left: 0;
    }
}

/* LOADING ANIM */
.lds-grid {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 80px;
    height: 80px;
}

.lds-grid div {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    animation: lds-grid 1.2s ease-in infinite;
}

.lds-grid div:nth-child(1) {
    top: 8px;
    left: 8px;
    animation-delay: 0s;
}

.lds-grid div:nth-child(2) {
    top: 8px;
    left: 32px;
    animation-delay: -0.4s;
}

.lds-grid div:nth-child(3) {
    top: 8px;
    left: 56px;
    animation-delay: -0.8s;
}

.lds-grid div:nth-child(4) {
    top: 32px;
    left: 8px;
    animation-delay: -0.4s;
}

.lds-grid div:nth-child(5) {
    top: 32px;
    left: 32px;
    animation-delay: -0.8s;
}

.lds-grid div:nth-child(6) {
    top: 32px;
    left: 56px;
    animation-delay: -1.2s;
}

.lds-grid div:nth-child(7) {
    top: 56px;
    left: 8px;
    animation-delay: -0.8s;
}

.lds-grid div:nth-child(8) {
    top: 56px;
    left: 32px;
    animation-delay: -1.2s;
}

.lds-grid div:nth-child(9) {
    top: 56px;
    left: 56px;
    animation-delay: -1.6s;
}

@keyframes lds-grid {
    0%, 100% {
        opacity: 0.33;
    }
    50% {
        opacity: 1;
    }
}
