/*noinspection CssUnknownTarget*/
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300&family=Lato:wght@900&family=Ubuntu:wght@500;700&display=swap');
/*noinspection CssUnknownTarget*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

select:hover {
    cursor: pointer;
}

select.dropdown {
    width: max-content;
    text-align: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    animation: fadeIn 0.5s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


.compare-button{
    background: none;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 20px;
    border: 2px solid white;
    color: white;
    width: max-content;
    padding: 5px 30px 5px 30px;
    margin-bottom: 10px;
    transition: all 0.2s ease-out;
}

.compare-button:hover{
    background-color: rgb(255, 255, 255);
    color: black;
    box-shadow: 0 0 45px rgba(255, 255, 255, 0.81);
}

.simple-container {
    display: flex;
    flex-direction: column;
    position: relative;
    height: max-content;
    padding: 50px 50px 0 50px;
}


.no-1-item {
    position: absolute;
    font-family: 'Inter Tight', sans-serif;
    font-size: 200px;
    height: max-content;
    max-width: 1500px;
    top: 150px;
    bottom: 0;
    right: 0;
    text-align: right;
    margin: 0;
    padding: 0;
    color: #1e1c1a;
    text-transform: uppercase;
    z-index: -1;
}

.list-item {
    font-size: 27px;
    font-family: 'Inter Tight', sans-serif;
    text-align: center;
    margin: auto;
    font-weight: 900;
    counter-increment: item;
    width: max-content;
    padding: 10px 0 2px 0;
}

.list-item-ol {
    min-width: 400px;
    margin: auto auto auto auto;
    list-style: none;
    counter-reset: item;
    height: max-content;
    padding: 0;
}

.list-item:hover {
    cursor: pointer;
    text-decoration: underline;
}

.list-item:before {
    margin-right: 10px;
    content: counter(item);
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 600;
    width: 1.2em;
    text-align: center;
    display: inline-block;
    color: rgb(148, 148, 148);
}

.follow-button:hover{
    cursor: pointer;
    color: #22c55e;
}

.datapoint-title {
    height: max-content;
    width: max-content;
    margin: 50px auto 0 auto;
    font-family: 'Inter Tight', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
}

.datapoint-title > p {
    margin: 0;
    text-align: left;
    font-size: 15px;
}

.datapoint-title > h2 {
    margin: 0;
    font-size: 50px;
}


.dropdown{
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 800;
    font-size: 1em;
    text-align: center;
    margin-right: 40px;
    color: #22C55E;
}

@keyframes hover {
    from {
        font-size: 16px;
    }
    to {
        font-size: 16px;
        font-weight: bold;
    }
}


.user-container {
    display: flex;
    flex-grow: 1;
    
    flex-direction: row;
    height: max-content;
    overflow: hidden;
}

.term-container {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    width: max-content;
    margin: 10px auto 10px auto;
}


.term-container > button {
    height: 30px;
    width: 100px;
    border-radius: 20px;
    transition: all 0.1s linear;
    border: 1px solid grey;
    color: #343434;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
}

.user-details {
    padding: 20px 10px 20px 10px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    text-align: right;
}

.user-details P {
    font-family: 'Ubuntu', sans-serif;
    color: rgb(255, 255, 255);
}

.spotify-link {
    justify-content: space-evenly;
    width: max-content;
    height: min-content;
    align-items: center;
    display: flex;
    flex-direction: row;
    color: white;
    text-decoration: none;
}

.spotify-link p:hover {
    color: #22C55E;
}

.spotify-link p {
    margin-left: 10px;
}

.profile-picture {
    align-self: center;
    margin-right: 10px;
    width: 175px;
    height: 175px;
    object-fit: cover;
}

.username {
    font-family: 'Inter Tight', sans-serif;
    font-size: 60px;
    font-weight: 900;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    position: relative;
    height: max-content;
}

#history-message{
    margin: 0 auto 0 auto;
    display: flex;
    width: max-content;
    height: max-content;
    font-family: 'Inter Tight', sans-serif;
}

.playlist-wrapper {
    display: flex;
    gap: 20px;
    
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    height: max-content;
}
.playlist-art{
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
    height: 350px;
    width: 350px;
    max-width: 350px;
    flex-grow: 1;
    object-fit: cover;
    text-align: center;

    text-decoration: none;
    color: white;
}

.focused-playlist{
    display: flex;
    flex-direction: row;
    max-width: 60%;
}

.focused-playlist-text {
    margin-top: auto;
    margin-bottom: auto;
    text-align: right;
    margin-right: 50px;
}

.focused-playlist-text > hr {
    color: #343434;
}

.focused-playlist-text h2 {
    font-family: 'Inter Tight', sans-serif;
    font-weight: 900;
    font-size: 40px;
    margin: 0;
}

.focused-playlist-text h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin: 0;
}

.focused-playlist-text p {
    width: max-content;
    margin: 0 0 0 auto;
    padding: 2px 0 0 20px;
    font-weight: bold;
}


.album-showcase {
    display: flex;
    position: relative;
    margin: auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    height: 300px;
    width: 500px;


    font-family: "Inter Tight", sans-serif;
    text-align: center;
    text-transform: uppercase;


}

/*noinspection ALL*/
.album-instance {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 125px;

    bottom: var(--bottom-val);
    left: var(--left-val);

    border-radius: 10px;

    animation: float 7.5s ease-in-out infinite;
}

/*noinspection ALL*/
.circle {
    padding: 1px;
    border: 1px solid #646464;
    border-radius: 100%;
    background: #ffffff;
    box-shadow: 0 0 5px white;
    z-index: -1;
    transform: scale(var(--scale-factor));
}


.album-instance:hover{
    animation-play-state: paused;
}

@keyframes float {
    0% {padding: 0}
    25% {padding: 0 7px 3px 2px}
    50% {padding: 9px 1px 6px 5px}
    75% {padding: 5px 2px 1px 7px}
    100% {padding: 0}
}

.album-text{
    width: 125px;
    position: absolute;
    animation: fadeIn 0.5s ease-out;
}

.album-text > h2 {
    margin: 0;
    font-size: 12px;
    text-shadow: 0 0 40px black;
}

.album-text > p {
    margin: 0;
    font-size: 8px;
    text-shadow: 0 0 10px black;
}

.album-image{
    position: relative;
    width: 125px;
    height: 125px;
    aspect-ratio: auto;
    object-fit: cover;

    animation: fadeIn 0.5s ease-out;
}

.album-image-backdrop{
    position: absolute;
    width: 125px;
    height: 125px;
    aspect-ratio: 1;
    margin: 0;
    transform: scale(100%);
    filter: blur(20px) brightness(70%);

    animation: fadeIn 0.5s ease-out;
}

@media screen and (max-width: 800px) {
    .list-item-ol {
        margin: 50px auto 50px auto;
        padding: 0;
        justify-content: center;
        width: max-content;
    }
    .list-item {
        margin: auto;
        font-weight: 600;
    }
    .focus-container {
        flex-direction: column;
    }
    .focus-message {
        text-align: center;
    }
    .user-container {
        justify-content: center;
    }
    .datapoint-title {
        width: max-content;
        font-size: 20px;
    }
}

/* LOADING ANIM */
.lds-grid {
    position: relative;
    margin: auto;
    top: 50%;
    width: 80px;
    height: 80px;
}

.lds-grid div {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    animation: lds-grid 2.25s ease-in infinite;
}

.lds-grid div:nth-child(1) {
    top: 10px;
    left: 10px;
    width: 12px;
    height: 12px;
    animation-delay: -4s;
}

.lds-grid div:nth-child(2) {
    top: 9px;
    left: 33px;
    width: 14px;
    height: 14px;
    animation-delay: -2s;
}

.lds-grid div:nth-child(3) {
    top: 10px;
    left: 58px;
    width: 12px;
    height: 12px;
    animation-delay: -4s;
}

.lds-grid div:nth-child(4) {
    top: 33px;
    left: 9px;
    width: 14px;
    height: 14px;
    animation-delay: -2s;
}

.lds-grid div:nth-child(5) {
    top: 32px;
    left: 32px;
    animation-delay: 0s;
}

.lds-grid div:nth-child(6) {
    top: 34px;
    left: 57px;
    width: 14px;
    height: 14px;
    animation-delay: -2s;
}

.lds-grid div:nth-child(7) {
    top: 58px;
    left: 10px;
    width: 12px;
    height: 12px;
    animation-delay: -4s;
}

.lds-grid div:nth-child(8) {
    top: 57px;
    left: 33px;
    width: 14px;
    height: 14px;
    animation-delay: -2s;
}

.lds-grid div:nth-child(9) {
    top: 58px;
    left: 58px;
    width: 12px;
    height: 12px;
    animation-delay: -4s;
}

@keyframes lds-grid {
    0%, 100% {
        opacity: 0.33;
    }
    50% {
        opacity: 1;
    }
}

@keyframes equals-animation {
    from {transform: translate(-20px, 0); opacity: 0}
    to {transform: translate(0,0); opacity: 1}
}

@keyframes up-change-animation {
    from {transform: translate(0, 10px); opacity: 0}
    to {transform: translate(0,0); opacity: 1}
}

@keyframes down-change-animation {
    from {transform: translate(0, -10px); opacity: 0}
    to {transform: translate(0,0); opacity: 1}
}
