.review-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    gap: 15px;
}

.mod-section {
    display: flex;
    position: relative;

    gap: 15px;

    margin-left: auto;
    margin-bottom: 15px;

    overflow: hidden;
}

@media screen and (max-width: 700px) {
    .review-section-heading {
        display: flex;
        flex-direction: column;
    }
}

.review-wrapper {
    display: flex;
    flex-direction: column;
    width: 300px;

    text-decoration: none;
    color: var(--primary-colour);

    gap: 15px;
    padding: 15px;

    overflow: hidden;

    transition: all 0.2s ease-out;
    background: var(--transparent-colour);
    border: 1px solid var(--transparent-border-colour);
}

.review-heading {
    display: flex;
    flex-direction: column;
    gap: 0;
    flex-grow: 1;
    justify-content: space-between;
    padding: 15px;
    background: var(--transparent-colour);
    border: 1px solid var(--transparent-border-colour);
}

