.review-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    gap: 15px;
}

.mod-section {
    display: flex;
    position: relative;

    gap: 15px;

    margin-left: auto;
    margin-bottom: 15px;

    overflow: hidden;
}

@media screen and (max-width: 700px) {
    .review-section-heading {
        display: flex;
        flex-direction: column;
    }
}

.review-wrapper {
    display: flex;
    flex-direction: column;
    height: 300px;
    min-width: 250px;
    max-width: 400px;

    text-decoration: none;
    color: var(--primary-colour);

    flex-grow: 1;
    overflow: hidden;
    gap: 15px;
    padding: 15px;
    background: var(--transparent-colour);
    border: 1px solid var(--transparent-border-colour);

    transition: all 0.2s ease-out;
}

@media (prefers-color-scheme: dark) {
    .review-wrapper:hover {
        filter: saturate(200%) brightness(130%);
        transform: scale(105%);
    }
}

@media (hover: none) {
    .review-wrapper:hover {
    }
}

.review-wrapper:hover {
    filter: saturate(200%);
    transform: scale(105%);
}

.review-heading {
    display: flex;
    flex-direction: column;
    gap: 0;
    flex-grow: 1;
    justify-content: space-between;
}