.header-pin {
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: max-content;
    top: 0;
    left: 0;
    z-index: 2;
}


.header {
    flex-grow: 1;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    height: max-content;
    background: none;
    backdrop-filter: blur(15px);
    padding: 10px 25px;
    border-bottom: 1px solid var(--secondary-colour);
    transition: 0.25s all ease;
}

@media screen and (max-width: 650px) {
    .header {
        background: var(--bg-colour);
    }
}

#logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: max-content;
    text-decoration: none;
    color: var(--primary-colour);
}


.element-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.expanded-menu-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    gap: 5px;
    margin-top: 20px;
}

.redirect-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: max-content;
    flex-grow: 1;
    color: var(--primary-colour);
    text-decoration: none;
    cursor: pointer;

    margin: 0;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;

    background: none;
    border: none;
}


.redirect-expanded {
    flex-grow: 1;
    height: 40px;
    background: rgba(125, 125, 125, 0.1);
    border: 1px solid rgba(125, 125, 125, 0.2);
    padding: 5px 30px 5px 30px;
    cursor: pointer;
    transition: all 0.25s ease;
}


.redirect-expanded:hover {
    background: rgba(125, 125, 125, 0.5);
}

.search-bar-container {
    position: relative;
    height: max-content;
    justify-content: center;
    background: var(--bg-colour);
}

.MuiFormControl-root {
    width: 100%;
}

.results {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
}

.result {
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 15px;
    color: var(--primary-colour);
    text-decoration: none;
    text-transform: none;
    background: rgba(125, 125, 125, 0.1);
    backdrop-filter: blur(10px);
    flex-grow: 1;
    padding: 15px;
    border-left: 1px solid rgba(125, 125, 125, 0.2);
    border-bottom: 1px solid rgba(125, 125, 125, 0.2);
    border-right: 1px solid rgba(125, 125, 125, 0.2);
}

.result-title {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 5px;
}

.result-title > h2 {
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 0;
    height: max-content;
    font-weight: 800;
}

.result-title > p {
    font-size: 10px;
    margin: 0;
}

.result > img {
    width: 30px;
    aspect-ratio: 1;
}

#input {
    width: 100%;
}
