
.header {
    height: min-content;
    background-color: rgb(26, 26, 26);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.element{
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.element-container{
    margin: 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}