
.header {
    height: min-content;
    display: block;
    align-items: center;
    padding: 10px 50px;
}

.element{
    min-width: 300px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s ease-out;
}

.element p{
    margin: 0;
    font-size: 12px;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 200;
}

.element:hover{
    color: #22C55E;
}

.element-container{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.search-bar{
    align-self: center;
    width: 300px;
    transform: scale(85%);
}

#result {
    display: flex;
    flex-direction: column;
    position: absolute;
    color: black;
    height: max-content;
    width: 297px;
    backdrop-filter: blur(5px);
    border: 2px solid #22C55E;
    border-top: 0;
    top: 68px;
    transform: scale(85%);
}

#result a{
    display: flex;
    padding: 10px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: 'Inter Tight', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    align-items: center;
  }
  #result a:hover{
    color: #22C55E;
  }
#result a img{
    height: 40px;
    width: 40px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 20px;
    border-radius: 10%;
}