@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
.wrapper{
    display: flex;
    flex-direction:row;
    animation: fadeIn 1s ease-out;
}

@keyframes fadeIn {
from {opacity: 0; }
to {opacity: 1;}
}
@keyframes fadeOut {
from {opacity: 1;}
to {opacity: 0; }
}
@media screen and (max-width: 1200px) {
    .wrapper{ flex-direction:column; }
}
.left{
    width: auto;
    min-width: 50%;
}
.right{
    display: flex;
    flex-direction: column;
    width: auto;
    min-width: 50%;
    border: 1px solid red;
}

.complex-container{
    margin: 0% 5% 0% 5%;
    height: 50%;
    border: 1px solid green;
}

.art-container{
    margin: 20px;
    margin-top: 0px;
    padding: 20px;
    position: relative;
    display: flex;
    word-break: break-word;
    justify-content: center;
    align-items: center;
}
.art-container-button{
    background-color: white;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 20px;
    border: 1px solid black;
    padding: 5px 30px 5px 30px;
    color: black;
    width: max-content;
    position: absolute;
    transform: translate(0, 120px);
    animation: fadeIn 1s;
}
@keyframes scaleIn {
    from{ transform: scale(100%); }
    to{ transform: scale(110%); }
}
@keyframes scaleOut {
    from{ transform: scale(110%); }
    to{ transform: scale(100%); }
}

.play-wrapper{
    margin-right: 15px;
    opacity: 1;
    animation: scaleOut 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.play-wrapper:hover{
    opacity: 0.9;
    border-radius: 10%;
    background-color: white;
    transform: scale(110%);
    animation: scaleIn 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275)
}

.art-shown{
    border-radius: 10%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,.4),0 2px 4px -2px rgba(0,0,0,.4);
    animation: fadeIn 0.6s ease-in-out;
}
.art-hidden{
    border-radius: 10%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,.4),0 2px 4px -2px rgba(0,0,0,.4);
    opacity: 0;
    animation: fadeOut 0.6s ease-out;

}

@keyframes swoopRight {
    from { opacity: 0; transform: translate(-40px) }
    to {  opacity: 1; }
}
@keyframes swoopLeft {
    from { opacity: 1; transform: translate(0px)}
    to {  opacity: 0; transform: translate(-40px) }
}
.art-text-container{
    display: block;
}

.art-name-shown{
    margin-top: -10px;
    margin-bottom: 0px;
    font-family: 'Inter Tight', sans-serif;
    font-size: 50px;
    font-weight: 900;
    color: rgb(24, 24, 24);
    text-transform: uppercase;
    position: relative;
    height: max-content;
    opacity: 1;
    animation: swoopRight 0.5s ease-out;
    z-index: -1;
}

.art-name-hidden{
    margin-top: -10px;
    margin-bottom: 0px;
    font-family: 'Inter Tight', sans-serif;
    font-size: 50px;
    font-weight: 900;
    color: rgb(24, 24, 24);
    text-transform: uppercase;
    position: relative;
    height: max-content;
    opacity: 0;
    animation: swoopLeft 0.25s ease-out;
    z-index: -1;

}

.art-desc-shown{
    margin: 0;
    font-family: 'Inter Tight', sans-serif;
    font-size: 25px;
    font-weight: 500;
    color: rgb(24, 24, 24);
    text-transform: uppercase;
    position: relative;
    height: max-content;
    animation-name: swoopRight;
    animation-duration: 0.8s;
    animation-timing-function: ease-out;

}
.art-desc-hidden{
    margin: 0;
    font-family: 'Inter Tight', sans-serif;
    font-size: 25px;
    font-weight: 500;
    color: rgb(24, 24, 24);
    text-transform: uppercase;
    position: relative;
    height: max-content;
    opacity: 0;
    animation: swoopLeft 0.25s ease-out;

}

.simple-container{
    margin: 20px;
    margin-top: 0px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.datapoint-container{
    text-align: center;
}

.datapoint-container ul{
    display: contents;
    justify-content: center;
}
.datapoint-title{
    font-family: 'Ubuntu';
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 10px;
}
@keyframes hover {
    from {font-size: 16px;}
    to {font-size: 16.5px; font-weight: bold;}
}
.list-item{
    font-size: 16px;
    padding: 5px;
    font-family: 'Ubuntu';
    font-weight: 100;
    list-style-type: none;
}
.list-item:hover{
    animation: hover 0.2s;
    font-weight: bold;
    font-size: 16.5px;
}
.list-item-stuck{
    font-weight: bold;
    font-size: 16.5px;
}

.user-container{
    padding: 20px;
    display: flex;
    flex-direction: row;
    margin: 20px;
    max-width: 100%;
    margin-bottom: 0px;
}

.term-button-container{ 
    margin-left: auto;
    order: 2;
    margin-top: 0px;
    border-radius: 0px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    height: min-content;
}

.term-button{
    border-radius: 10px;
    height: 5px;
    width: 5px;
    border: 1px solid black;
    padding: 9.5px;
    margin: 5px;
    background-color: white;
    
}
.term-button:hover{
    transform: scale(110%);
    animation: scaleIn 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275)
}
.term-button-selected{
    border-radius: 10px;
    height: 5px;
    width: 5px;
    border: 1px solid black;
    padding: 9.5px;
    margin: 5px;
    background-color: rgb(24, 24, 24);
}

.term-button-desc{
    text-transform: uppercase;
    font-family: 'Ubuntu';
    margin-top: 6px;
    margin-bottom: 15px;
}

.text-container{
    margin-top: -10px;
    display: grid;
    height: max-content;
    position: relative;
}

.currently-listening-media{
    font-family: 'Ubuntu';
    font-weight: 500;
    padding: 5px;
    margin-top: 10px;
    font-size: 20px;
}


.profile-picture{
    margin-right: 10px;
    border-radius: 10%;
    width: 125px;
    height: 125px;
    object-fit: cover;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,.4),0 2px 4px -2px rgba(0,0,0,.4)
}

.username{
    margin-right: 10px;
    font-family: 'Inter Tight', sans-serif;
    font-size: 60px;
    font-weight: 900;
    color: rgb(24, 24, 24);
    text-transform: uppercase;
    position: relative;
    height: max-content;
}

/* LOADING ANIM */
.lds-grid {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 80px;
    height: 80px;
  }
    .lds-grid div {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: rgb(0, 0, 0);
    animation: lds-grid 1.2s ease-in infinite;
    }
.lds-grid div:nth-child(1) {
top: 8px;
left: 8px;
animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
top: 8px;
left: 32px;
animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
top: 8px;
left: 56px;
animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
top: 32px;
left: 8px;
animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
top: 32px;
left: 32px;
animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
top: 32px;
left: 56px;
animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
top: 56px;
left: 8px;
animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
top: 56px;
left: 32px;
animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
top: 56px;
left: 56px;
animation-delay: -1.6s;
}
@keyframes lds-grid {
0%, 100% {
    opacity: 0.33;
}
50% {
    opacity: 1;
}
}
