@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@900&family=Raleway:wght@600;700;900&display=swap');
.simple-container{
    margin: 20px;
    padding: 20px;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-item{
    text-align: center;
    margin: 10px;
    margin-left: -30px;
    margin-right: 40px;
}


.user-container{
    padding: 20px;
    display: flex;
    margin: 20px;
    width: max-content;
}

.text-container{
    margin-top: -10px;
    display: grid;
    height: max-content;
    position: relative;
}

.currently-listening-media{
    font-family: 'Raleway';
    font-weight: 500;
    padding: 5px;
    margin-top: 10px;
    font-size: 20px;
}


.profile-picture{
    margin-right: 10px;
    border-radius: 10%;
    width: 125px;
    height: 125px;
    object-fit: cover;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1)
}

.username{
    margin-right: 10px;
    font-family: 'Inter Tight', sans-serif;
    font-size: 60px;
    font-weight: 900;
    color: rgb(24, 24, 24);
    text-transform: uppercase;
    position: relative;
    height: max-content;
}